<template>
  <div id="editTodoItem">
    <PageTitle title="Edit Todo"/>
    <form @submit.prevent="onSubmit">
      <div class="form-group">
        <label for="text">Description</label>
        <input type="text" class="form-control" id="text" value="text" v-model="item.text">
      </div>
      <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
  </div>
</template>

<script>
  import axios from 'axios';
  import PageTitle from '@/components/PageTitle.vue'

  export default {
    components: {
      PageTitle
    },
    props: {
      id: {
        type: String,
        required: true
      },
      todoId: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        item: {}
      }
    },
    created () {
      axios.get('/list/' + this.id + '/todo/' + this.todoId)
        .then(response => {
          this.item = response.data
        })
        .catch(error => console.log('Error', error))
    },
    methods: {
      onSubmit () {
        axios.put('/list/' + this.id + '/todo/' + this.todoId, this.item)
          .then(response => {
            console.log(response)
            this.$router.push('/list/' + this.id + '/todo')
          })
          .catch(error => console.log(error))
      }
    }
  }
</script>