<template>
  <div id="listTodoItems">
    <PageTitle v-if="list" v-bind:title="list.text">
      <router-link :to="{ name: 'newTodoItem' }" class="btn btn-success btn-sm" role="button">New Todo</router-link>
    </PageTitle>
    <table class="table table-borderless">
      <tbody>
        <tr
          v-for="(item, index) in items"
          v-if="item.type != 'list'"
          v-bind:key="item.type"
          
          >
          <td style="white-space:nowrap;width:2%">
            <input type="checkbox" class="form-check-input" v-bind:value="item.type" v-model="item.checked" v-on:change="updateTodoItem(index, item)">
            <label v-bind:for="item.type">{{ item.checked }}</label>
          </td>
          <th scope="row">
            {{ item.text }}
          </th>
          <td style="white-space:nowrap;width:1%">
            <router-link :to="{ name: 'editTodoItem', params: { id: item.id, todoId: item.type }}" class="btn btn-primary btn-sm">Edit</router-link>&nbsp;
            <button class="btn btn-danger btn-sm" @click="deleteTodoItem(index, item)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import axios from 'axios'
  import PageTitle from '@/components/PageTitle.vue'

  export default {
    components: {
      PageTitle,
    },
    props: {
      id: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        items: []
      }
    },
    computed: {
      list: function () {
        const list = this.items.find(item => {
          return item.type === 'list';
        })
        return list
      }
    },
    created () {
      axios.get('/list/' + this.id + '/todo')
        .then(response => {
          this.items = response.data
        })
        .catch(error => console.log('Error', error))
    },
    methods: {
      deleteTodoItem(index, item) {
        axios.delete('/list/' + item.id + '/todo/' + item.type)
          .then(response => {
            console.log(response)
            this.$delete(this.items, index)
          })
          .catch(error => console.log(error))
      },
      updateTodoItem (index, item) {
        axios.put('/list/' + item.id + '/todo/' + item.type, this.items[index])
          .then(response => {
            // console.log(response)
          })
          .catch(error => console.log(error))
      }
    }
  }
</script>
