<template>
  <div id="listTodoList">
    <PageTitle title="Todo Lists">
      <router-link :to="{ name: 'newTodoList' }" class="btn btn-success btn-sm" role="button">New List</router-link>
    </PageTitle>
    <table class="table table-borderless">
      <tbody>
        <tr
          v-for="(list, index) in lists"
          v-bind:key="list.id"
          v-bind:id="list.id">
          <th scope="row">
            <router-link :to="{ name: 'listTodoItem', params: { id: list.id }}">{{ list.text }}</router-link>
          </th>
          <td style="white-space:nowrap;width:1%">
            <router-link :to="{ name: 'editTodoList', params: { id: list.id }}" class="btn btn-primary btn-sm">Edit</router-link>&nbsp;
            <button class="btn btn-danger btn-sm" @click="deleteTodoList(index, list.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import axios from 'axios'
  import PageTitle from '@/components/PageTitle.vue'

  export default {
    components: {
      PageTitle,
    },
    data () {
      return {
        lists: []
      }
    },
    created () {
      axios.get('/list')
        .then(response => {
          this.lists = response.data
        })
        .catch(error => console.log('Error', error))
    },
    methods: {
      deleteTodoList(index, id) {
        axios.delete('/list/' + id)
          .then(response => {
            this.$delete(this.lists, index)
          })
          .catch(error => console.log(error))
      }
    }
  }
</script>
