<template>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-5">
        <router-link :to="{ name: 'notHome' }" tag="h1" class="mb-4"><a>My Todo List App</a></router-link>
        <router-view/>
      </div>
    </div>
  </div>
</template>